.footer-container {
    width: 100vw;
    min-height: 15vh;
    max-height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px;

    border-top: 2px solid #F1F1F1;
}

.footer-infos h1 {
    font-size: 22px;

    font-family: Libre Baskerville, serif;
    font-weight: 700;

    text-align: center;

    margin-bottom: 5px;
}

.footer-infos h2 {
    font-size: 16px;
    
    font-family: Libre Baskerville, serif;
    font-weight: 700;

    text-align: center;
}

.footer-container button {
    background-color: transparent;
    border: none;

    margin-inline: 2.5px;

    cursor: pointer;
}