.footer-container {
    width: 100vw;
    height: 15vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 25px;

    border-top: 2px solid #F1F1F1;
}

.footer-infos h1 {
    font-size: 25px;

    font-family: Libre Baskerville, serif;
    font-weight: 700;
}

.footer-infos h2 {
    font-size: 20px;

    font-family: Libre Baskerville, serif;
    font-weight: 700;
}

.footer-container button {
    background-color: transparent;
    border: none;

    margin-inline: 2.5px;

    cursor: pointer;
}