.card {
    position: relative;

    cursor: pointer;
    background-color: transparent;
    border: none;
}

.card:hover {
    opacity: 0.9;
}

.card img {
    width: 260px;
}

.description {
    width: 100%;

    position: absolute;
    bottom: 0%;
    left: 50%;

    text-align: left;

    padding-inline: 15px;

    transform: translate(-50%, -50%);
}

.description h1 {
    font-size: 28px;
    font-family: Arial, sans-serif;
    color: #FFF;
}

.description p {
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #FFF;
}

@media (max-width: 1300px) {
    .card img {
        width: 220px;
    }
}

@media (max-width: 1024px) {
    .card img {
        width: 300px;
    }

    .description h1 {
        font-size: 22px;
        font-family: Arial, sans-serif;
        color: #FFF;
    }

    .description p {
        font-size: 12px;
        font-family: Arial, sans-serif;
        color: #FFF;
    }
}