.card {
    position: relative;
}

.card img {
    width: 270px;
}

.description {
    width: 100%;

    position: absolute;
    bottom: 0%;
    left: 50%;

    text-align: left;

    padding-inline: 15px;

    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #FFF;

    transform: translate(-50%, -50%);
}