.gallery-container {
    width: 100vw;
    height: 100vh;
}

.gallery {
    width: 100vw;

    display: flex;
    flex-direction: row;

    margin-top: 10px;
}

.gallery-infos {
    width: 60vw;
    height: 90vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-inline: 50px;
}

.gallery-img img {
    width: 80%;
}

.gallery-info {
    width: 325px;
    height: 200px;

    margin-top: -400px;
    margin-left: -300px;

    background-color: #FFF;
}

.gallery-info h1 {
    font-size: 40px;
}

.gallery-info p {
    font-size: 20px;
}

.gallery-description {
    width: 40vw;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 25px;
    padding-right: 50px;
}