.gallery-container {
    width: 100vw;
    height: auto;
}

.gallery {
    width: 100vw;
    height: 85vh;

    display: flex;
    justify-content: space-evenly;

    margin-top: 20px;
}

.gallery-infos {
    width: 40vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-inline: 50px;
}

.gallery-img img {
    width: 100%;
}

.gallery-info {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    gap: 5px;

    /* position: relative;
    top: 100px;
    left: 250px; */

    background-color: #FFF;
}

.gallery-info h1 {
    font-size: 30px;

    font-family: Libre Baskerville, serif;
    font-weight: 700;
}

.gallery-info h2 {
    font-size: 20px;

    font-family: Libre Baskerville, serif;
    font-weight: 700;
}

.gallery-description p {
    font-size: 15px;

    font-family: Libre Baskerville, serif;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.gallery-description {
    width: 40vw;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-inline: 50px;
}

@media (max-width: 1024px) {
    .gallery {
        justify-content: center;

        align-items: center;
    }
}

@media (max-width: 1024px) {
    .gallery {
        flex-direction: column;
        height: 100%;
    }

    .gallery-infos {
        width: 100vw;
    }

    .gallery-description {
        width: 100vw;

        padding-inline: 50px;

        margin-bottom: 30px;
    }

}